@charset "UTF-8";
.repeat,.no-repeat,.center-cover,.center-fit {
  height: 500px;
  background-image: url(../../image/coffee-background.jpg);
}
.repeat {
  background-repeat: repeat-x;
}
.no-repeat {
  background-repeat: no-repeat;
}
.center-cover {
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.center-fit {
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: auto 500px;
}