@charset "UTF-8";
header {
  background-color: #388bff;
  position: fixed;
  width: 100%;
}
.background-style {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}
.Logo-Size {
  font-size: 24px;
  font-weight: bold;
  padding-top: 30px;
}
.Logo-Font {
  color: #f2ff7b;
  text-decoration: none;
}
nav {
  text-align: right;
  display: flex;
  float: right;
  justify-content: flex-end;
  align-items: center;
}
ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.Navi-Font {
  color: #ffffff;
  text-decoration: none;
}
li {
  display: inline;
  padding: 30px;
}
