@charset "UTF-8";
.box1 {
  width: 500px;
  font-size: 16px;
  line-height: 16px;
  background: #fad296;
  border: solid 5px #8f5a0a;
  padding: 20px;
  border-radius: 30px;
  margin: 0 auto;
  position: relative;
}
.box1::before {
content: "";
position: absolute;
border: solid 25px transparent;
border-top: 25px solid #8f5a0a;
top: 100%;
left: 5%;
}
.box1::after {
content: "";
position: absolute;
border: solid 25px transparent;
border-top: 25px solid #fad296;
margin-top: -7px;
top: 100%;
left: 5%;
}